* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}
.container__content{
    width: 1160px;
    max-width: 100%;
    margin: auto;
}
.header {
    height: 80px;
    width: 100%;
    background: #000000;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
}
.header__logo--text {
    width: 82px;
    height: 52px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    margin-right: 63px;
    /* or 23px */
    display: flex;
    flex-direction: column;
    padding: 3.55px 4.75px;
    text-align: center;
    border: 1.18841px solid #FFFFFF; 
}
.header__logo--span {
    position: relative;
}
.bamboo {
    position: absolute;
    top: -10%;
    left: 5%;
}
.header__navigation--ul {
    list-style: none;
    display: flex;
}
.header__navigation--link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-right: 58px;
    text-align: left;
    /* letter-spacing: 0.8px; */
}
.header__link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    text-decoration: none;
    /* margin-right: 2px; */
    /* letter-spacing: 0.8px; */
    color: #FFFFFF;
    margin-right: 2px;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo__container {
    display: flex;
    align-items: center;
}
.section__one {
    height: 780px;
    background-image: url(assets/images/Giant\ Panda.png);
    width: 100%;
    /* position: relative; */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.circle__block {
    width: 465px;
    position: absolute;
    height: 465px;
    border-radius: 50%;
    top: 92px;
    left: calc(50% - 465px/2 + 239.5px);
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.section__one--text--wrapper {
    /* position: absolute;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px; */
    /* or 80px */
    
    text-align: center;
    text-transform: uppercase;
    z-index: 6;
    margin-left: 42%;
    transform: translatey(20%);
    color: #FFFFFF;
}
.section__one--text {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 500.31px;
    height: 400px;
    letter-spacing: -3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.491px;
    line-height: 80px;
}
.yellow {
    color: #FFEE2E
}
.section__one--link {
    display: block;
    width: 298px;
    padding: 16px;
    text-align: center;
    margin-bottom: 25px;
    background-color: #F9804B;
    margin-left: 42%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    color: #FFFFFF;
}