* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}
.container__content{
    width: 1160px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.header {
    height: 80px;
    width: 100%;
    max-width: 100%;
    background: #000000;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
}
.header__logo {
    cursor: pointer;
}
.header__logo--text {
    width: 82px;
    height: 52px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    /* margin-left: -35%; */
    margin-right: 63px;
    /* or 23px */
    display: flex;
    flex-direction: column;
    padding: 3.55px 4.75px;
    text-align: center;
    border: 1.18841px solid #FFFFFF; 
}
.header__logo--span {
    position: relative;
}
.bamboo {
    position: absolute;
    top: -10%;
    left: 5%;
}
.header__navigation--ul {
    list-style: none;
    display: flex;
}
.header__navigation--link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-right: 58px;
    text-align: left;
    /* letter-spacing: 0.8px; */
}
.header__link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    text-decoration: none;
    /* margin-right: 2px; */
    /* letter-spacing: 0.8px; */
    color: #FFFFFF;
    margin-right: 2px;
}
.header__link:hover {
    color: #fd986d;
    transition: 1.5s;

}
.header__navigation--link:hover{
    color: #fd986d;
    transition: 1.5s;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo__container {
    display: flex;
    align-items: center;
}
.section__one {
    height: 780px;
    background-image: url(assets/images/Giant\ Panda.png);
    width: 100%;
    /* position: relative; */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.circle__block {
    width: 465px;
    position: absolute;
    height: 465px;
    border-radius: 50%;
    top: 92px;
    left: calc(50% - 465px/2 + 239.5px);
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.section__one--text--wrapper {
    /* position: absolute;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px; */
    /* or 80px */
        overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    z-index: 6;
    margin-left: 41%;
    transform: translatey(25%);
    color: #FFFFFF;
}
.section__one--text {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    width: 500.31px;
    height: 400px;
    letter-spacing: -3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.491px;
    line-height: 80px;
}
.highlight {
    color: #F9804B !important;
}
.yellow {
    color: #FFEE2E
}
.section__one--link {
    display: block;
    width: 298px;
    padding: 16px;
    text-align: center;
    margin-bottom: 25px;
    background-color: #F9804B;
    margin-left: 42%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    color: #FFFFFF;
}
.section__one--link:hover{
    background-color: #d85218;
    transition: 0.8s;
}
.section__two--Fwidth {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 90px;
}
.sec__two {
    display: flex;
    margin-top: 140px;
    justify-content: space-between;
}
.section__two--img__container {
    width: 609px;
}
.section__two--content {
    width: 464px;
}
.section__two--title--one{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    /* or 58px */
    
    
    color: #333B41;
}
.section__two--paragraph--one {
    margin-top: 20px;
    margin-bottom: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* or 21px */


    color: #333B41;
}
.section__two--title--Two{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height, or 29px */

    margin-bottom: 34px;
    color: #333B41;
}
.section__two--paragraph--two{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #333B41;


}
.section__two__img__relative--container {
    width: 293px;
    height: 605px;
    position: absolute;
    right: -5.3%;
    top: 1.5%;
    /* transform: translate(40%); */
}
.section__two__img__relative--container>img{
    max-width: 100%;
}
.section__three--fWidth {
    width: 100%;
    height: 1196px;
    padding-top: 90px;
    padding-bottom: 100px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sec__three--card {
    border: 1px solid #FA6F32;
    width: 366px;
    height: 426px;
    cursor: pointer;
}
.card__img--container {
    width: 364px;
    height: 366px;
   
}
.sec__three--card:hover .card__content {
background-color: rgb(176, 171, 171);
transform: translatey(-350%);
transition: 0.8s;
}
.sec__three--card:hover .card--img {
    transform: scale(1.0275);
    transition: 0.8s;
}
.sec__three--cards {
    display: grid;
    grid-template-columns: auto auto auto ;
   gap: 20px 30px;
}
.card__img--container>img{
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.card__content {
    height: 60px;
    display: flex;
    width: 366px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 13px 14px 16px;
}
.card__content--text--title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */

    text-transform: uppercase;

    color: #000000;
}
.card__content--text-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
/* identical to box height, or 18px */


color: #000000;

}
.card__content--img--container {
    width: 37px;
    height: 37px;
}
.card__content--img--container>img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-color: transparent;
}
.sec__three__right--img--container {
    width: 368px;
    height: 275px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.sec__three__left--img--container {
    width: 880px;
    height: 460px;
    position: absolute;
    bottom: 0;
    left: 0;
    /* transform: translateX(50%); */
}
.sec__three{
    z-index: 5;
}
.sec__three--button--container {
    width: 1322px;
    position: absolute;
    top: 41%;
    display: flex;
    justify-content: space-between;
    left: 8.7%;

}
.section_three--button--left{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    cursor: pointer;
}
.section_three--button--left:hover {
    transform: rotate(4140deg);
    transition: 1.2s;
    
}
.section_three--button--right{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.section_three--button--right:hover {
    transform: rotate(3600deg);
    transition: 1.2s;
}
.section__three--link {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    z-index: 5;

}
.section__three--link:hover {
    background-color: #d27811;
    transition: 0.8s;
}
.section__four--fWidth {
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding-top: 69px;
    padding-bottom: 100px;
}
.sec-four{
    height: 835px;
    margin: 0 auto;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    padding-left: 99px;
    border-radius: 20px;
}
.section__four__content--one--title--main {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin-top: 41px;
    margin-bottom: 30px;
    /* identical to box height, or 58px */

    text-align: center;
    padding-right: 10%;


    color: #FE9013;

}
.section__four__content--one--title--secondary {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height, or 29px */
    margin-bottom: 40px;

    color: #333B41;

}
.section__four__content--one--paragraph--one{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 21px */
    margin-bottom: 5px;

    color: #333B41;
}
.section__four__content--one--paragraph--two {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */
    margin-top: 10px;
    margin-bottom: 60px;
    width: 875px;
    color: #333B41;

}
.section__four__content--two--title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height, or 47px */
    margin-bottom: 40px;
    text-align: center;
    padding-right: 10%;
    color: #333B41;


}
.section__four__content--two--instructions {
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.section__four__content--two--instruction {
    width: 168px;
    height: 244px;
    
}
.section__four__content--two--instruction>img{
    width: 100%;
    max-width: 100%;
    height: 168px;
    border: 1px solid #F9804B;
}
.section__four__content--two--instruction--paragraph {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */


    color: #333B41;

}
.emerg__btn {
    text-decoration: none;
    color: #333B41;
}
.arrow{
    width: 69px;
    height: 35.08px;
    margin-left: 30px;
    margin-right: 31px;
    margin-bottom: 90px;
}
.section__four--link {
    Width: 298px;
    Height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    margin-top: 56px;
    text-transform: uppercase;
    margin-left: 31%;
    color: #FFFFFF;


}
.section__four--link:hover{
    background: linear-gradient(113.96deg, #b9613c 1.49%, #ca730f 101.44%);
}
.section__five--fWidth {
    /* height: 919; */
    padding-top:140px ;
    padding-bottom: 178px;
    position: relative;
    overflow: hidden;
}
.sec__five {
    margin: auto;
    /* height: 575px; */
}
.section__five--title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 47px;
/* identical to box height, or 47px */
margin-bottom: 47px;
text-align: center;

color: #333B41;

}
.section__five--content--cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
.section__five--content--card {
    position: relative;
    width: 264px;
    height: 391px;
    background: #F1F3F2;
    margin-left: 2px;
    padding: 15px 15px 19px 16px;
    /* border: 2px solid; */
    border-radius: 20px;

}
.section__five--content--card::after {
    position: absolute;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
    background: linear-gradient(to left, #FEBDAB
    74%,#F3A9F8
    66%
   );
    content: '';
    z-index: -1;
    border-radius: 16px;
}
.section__five--content--card--img--text {
    display: flex;
}
.section__five--content--card--img--wrapper{
    width: 37px;
    height: 37px;
    margin-right: 10px;

}
.section__five--content--card--img--wrapper>img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.section__five--content--card--name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 19px */


    color: #000000;
}
.section__five--content--card--location {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 18px */

    /* Gray 4 */

    color: #BDBDBD;
}
.section__five--content--card--location--dot {
    margin-right: 5px;
    margin-left: 5px;
    height: 18px;
    vertical-align: middle;
}
.section__five--content--card--description {
    width: 237px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    /* or 18px */
    margin-top: 10px;
    
    /* gray */

    color: #767474;
}
.section__five--scroller {
    width: 599px;
    height: 8px;
    background: #F5F7F6;
    border-radius: 5px;
    margin: 22px  auto 32px;

}
.section__five--scroller--bar {
    width: 115.19px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
    cursor: pointer;
}
.section__five--scroller--bar:hover{
    background: #d67b12;
    transition: 0.8s;
}
.section__five--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.section__five--link:hover {
    background: linear-gradient(113.96deg, #bd623b 1.49%, #ac620e 101.44%);
}
.section__five__pos--img--container {
    width: 300.92px;
    height: 295.45px;
    background-image: url(./assets/images/leav_foto.png);
    transform: matrix(-0.86, -0.5, -0.5, 0.86, 0, 0);
    position: absolute;
    bottom: -1.5%;
    right: -3.5%;
    transform: rotate(0deg);
}
.section__five__pos--img--container>img {
    width: 100%;
    /* height:100%; */
    max-width: 100%;
}
.footer__fWidth {
    height: 443px;
    background: #111115;
    padding-top: 35px;
    overflow: hidden;
    /* padding-bottom: 60px; */
}
.footer__logo__form--container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.footer__form--title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 14px;
    /* identical to box height, or 29px */


    color: #FFFFFF;
}

.footer__form--input {
    width: 226px;
    height: 42px;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #F9804B
    ;
    color: white;
}

.footer__form--input::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    
    
    /* Gray 4 */
    
    color: #BDBDBD;
}
.footer__form--button {
    width: 129px;
    height: 42px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    /* or 22px */


    /* Green */

    color: #4B9200;
}
.footer__form--button:hover {
    background-color: #333B41;
    transition: 0.8s;
}
.footer--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 54px;
    margin-top: 36px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    margin-bottom: 44px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.footer--link:hover{
    background: linear-gradient(113.96deg, #a25534 1.49%, #c6700e 101.44%);
}
.footer__nav__social__creator--container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 50px;
    /* padding-top: 50px; */
}
.footer__navigation{
    margin-bottom: -35px;
}
.footer__navigation--ul {
    list-style: none;
    display: flex;
    margin-top: 80px;
    margin-left: 287px;
    margin-right: 105px;
}
.footer__navigation--link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    margin-right: 58px;
    text-align: left;
    margin-bottom: 10px;
    /* letter-spacing: 0.8px; */
}
.footer__navigation--link:hover {
    color: #ac620e;
    transition: 0.8s;
}
.footer__social--li {
    display: flex;
    align-items: center;
}
.footer__social--icon {
    margin-right: 12px;
}
.ling__social{
    display: block;
    margin-bottom: 5px;

}
.footer__social--link {
    display: block;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* or 22px */
    text-decoration: none;

    color: #FFFFFF;

}
.footer__social--link:hover {
    background-color: #BDBDBD;
}
.footer__author--container {
    padding-top: 80px;
}
.footer__author--container>p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 21px */
    margin-bottom: 10px;

    color: #FFFFFF;
}
.footer__author--par1 {
    margin-bottom: 10px;
}